body{
    background-color: #313132;
    color: white
}
.choose-weapon {
    padding-top: 3px;
    padding-bottom: 25px;
    margin-top: 0;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  h2,
  h4 {
    text-align: center;
    padding-top: 50px;
  }
  
  .choose-weapon div {
    text-align: center;
  }
  
  input{
      margin: 50px;
  }
  .button-x{
      border: 1px solid;
      border-radius: 5px;
      margin-right: 200px;
      width: 100px;
      height: 100px;
      font-size: 50px;
      color: red;
  }
  .button-o{
    border: 1px solid;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    color: blue
}
